.title-container {
    position: relative;
  text-align: center;
  color: white;
  padding-bottom: 20px;

  .over-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
  .contact-button {
      .contact-button();
  }
}

.artists-container {
    .flex();
	.main-artists();
  
    a {
    .flex();
    text-align:  center;
    padding-top: 10px;
}
 
      
        img {
            width: 250px;
            height: 200px;
            .flex();
            align-items: center;
            border-radius: 10px;
           margin-left: 10%;
        
        img:hover {
            .img-hov();
          }

        }
        .artists2 {
            margin-bottom: 50px;
        }
        
        .artist {
            padding-top: 50px;
            margin-bottom: 50px;
            padding-right: 25px;
        }
        .bio {
            .flex();
            align-items: center;
        }
    }

hr {
    width:50%;
}
